.App {
  min-height: 100vh;
  background: white;
  text-align: center;
  padding: 20px 40px 60px 40px;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);  
}


.title {
  color: #f9748f;
  font-weight: 400;
  font-size: 3rem;
}

.search-form {
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

